<div class="app-container">

<!-- 
<ng-include src="'views/panels/filters.html'"></ng-include>
<ng-include src="'views/panels/contacts.html'"></ng-include>
<ng-include src="'views/panels/info.html'"></ng-include> 
-->

	<!-- Filter Panels -->

	<div class="panel-filters">
		
		<div class="panel">
			<form ng-submit="addContact()">
				<label>New Contact</label>
				<input type="text" ng-model="newContactName">
				<input type="submit" value="Add" class="btn btn-default">
			</form>
		</div>

	</div>





	<!-- Contacts Panel -->

	<div class="panel-contacts">

		<div class="panel contact-card" ng-repeat="contact in allContacts" ng-click="setContact(contact)">

			<h3>{{ contact.name }}</h3>
			<p>Email: {{ contact.email }}</p>
			<p>Phone: {{ contact.landline }}</p>

		</div>

	</div>





	<!-- Info Panel -->

	<div class="panel-info">


		<!-- Info Dialogue -->

		<h1 ng-if="!selectedContact">Choose a contact</h1>

		<!-- Contact Info -->

		<div class="selected-contact" ng-if="selectedContact">

			<h3>{{ selectedContact.name }}</h3>
			
			<!-- Email -->

			<p ng-if="!editMode">Email: {{ selectedContact.email }}</p>
			<label ng-if="editMode">Email: </label>
			<input type="text" ng-if="editMode" value="{{ selectedContact.email }}" ng-model="selectedContact.email">

			<p>Phone: {{ selectedContact.landline }}</p>

			<!-- Edit Button -->

			<div class="contact-control contact-edit" ng-click="editContact(selectedContact)"><i class="fa fa-pencil fa-2x"></i></div>

			<!-- Delete Button -->

			<div class="contact-control contact-delete" ng-click="deleteContact(selectedContact)" ng-if="editMode"><i class="fa fa-times fa-2x"></div>

		</div>

	</div>





</div>