<div class="app-container">



	<!-- Filters Panel -->
	<div class="panel-filters">

		<!-- Filters Header -->
		<div class="panel-header">
			FILTERS
		</div>
		
		<!-- Filters -->
		<div class="panel-filters-container">

			
		</div>

		<!-- Filters Control -->
		<div class="panel-filters-control">
			<!-- Add Contact Button -->
			<div class="contact-control contact-add" ng-click="addContact()"><i class="fa fa-plus fa-2x"></i></div>
		</div>

	</div>










	<!-- Contacts Panel -->
	<div class="panel-contacts">


		<!-- Panel Header -->
		<div class="panel-header">
			CONTACTS
		</div>


		<!-- Search -->
		<div class="search-contacts">
			<i class="fa fa-search"></i>
			<input type="search" placeholder="Search for anything..." ng-model="search"/>
		</div>


		<!-- Contacts -->
		<div class="panel-contacts-container">

			<div class="contact-card" ng-repeat="contact in allContacts | filter:search | orderBy: 'name'" ng-click="setContact(contact)">

				<div class="cc-avatar cc-avatar-initials" ng-if="!contact.avatar">
					{{ contact.name.charAt(0) }}
				</div>

				<div class="cc-avatar cc-avatar-photo" ng-if="contact.avatar" ng-style="{'background-image':'url(assets/img/avatars/'+contact.avatar+')'}"></div>
			
				<div class="cc-details">
					<h3>{{ contact.name }}</h3>
					<p>Business Name</p>
				</div>
			
			</div>

		</div>

	</div>










	<!-- Info Panel -->
	<div class="panel-info">

		<div class="panel-header">
			{{ selectedContact.name | uppercase }}
		</div>


		<div class="panel-info-container">
			
			<!-- Info Dialogue -->
			<div class="info-dialogue">

				<h1 ng-if="!selectedContact">Choose a contact</h1>

			</div>
			
			

			<!-- Contact Info -->
			<div class="selected-contact" ng-if="selectedContact" ng-dblclick="editContact()">

				<div class="sc-header">

					<!-- Avatar -->
					<div class="sc-avatar">
						
						<!-- Avatar -->
						<div class="sc-avatar sc-avatar-photo" ng-if="selectedContact.avatar && !editMode" ng-style="{'background-image':'url(assets/img/avatars/'+selectedContact.avatar+')'}"></div>
						
						<!-- Avatar & Edit Mode -->
						<div class="sc-avatar sc-avatar-photo" ng-if="selectedContact.avatar && editMode" ng-style="{'background-image':'url(assets/img/avatars/'+selectedContact.avatar+')'}"></div>
						
						<!-- Initials -->
						<div class="sc-avatar sc-avatar-initials" ng-if="!selectedContact.avatar && !editMode">{{ selectedContact.name | initials }}</div>
						
						<!-- Initials & Edit Mode -->
						<div nv-file-drop nv-file-over uploader="avatarUploader" class="sc-avatar sc-avatar-initials" ng-if="!selectedContact.avatar && editMode"><i class="fa fa-plus"></i></div>

						<!-- Overlay -->
						<div nv-file-drop nv-file-over uploader="avatarUploader" class="sc-avatar sc-avatar-overlay" ng-if="selectedContact.avatar && editMode">
							<i class="fa fa-plus fa-2x"></i>
						</div>

						<!-- Avatar Input -->
						<input type="file" nv-file-select uploader="avatarUploader" class="avatar-upload" ng-if="editMode">

					</div>
				
					<!-- Name -->
					<div class="sc-name">
						<label></label>
						<span ng-if="!editMode">{{ selectedContact.name }}</span>
						<input type="text" class="sc-field" ng-if="editMode" ng-model="selectedContact.name">
					</div>

				</div>

				<hr>
				
				<!-- Company -->
				<div class="sc-field">
					<label>Company:</label>
					<span ng-if="!editMode">{{ selectedContact.company }}</span>
					<input type="text" ng-if="editMode" ng-model="selectedContact.company">
				</div>

				<!-- Phone -->
				<div class="sc-field">
					<label>Phone:</label>
					<span ng-if="!editMode">{{ selectedContact.phone1 }}</span>
					<input type="text" ng-if="editMode" ng-model="selectedContact.phone1">
				</div>

				<!-- Phone Two -->
				<div class="sc-field" ng-if="selectedContact.phone1" ng-hide="!selectedContact.phone2 && !editMode">
					<label>Phone:</label>
					<span ng-if="!editMode">{{ selectedContact.phone2 }}</span>
					<input type="text" ng-if="editMode" ng-model="selectedContact.phone2">
				</div>

				<!-- Phone Three -->
				<div class="sc-field" ng-if="selectedContact.phone2" ng-hide="!selectedContact.phone3 && !editMode">
					<label>Phone:</label>
					<span ng-if="!editMode">{{ selectedContact.phone3 }}</span>
					<input type="text" ng-if="editMode" ng-model="selectedContact.phone3">
				</div>

				<!-- Email -->
				<div class="sc-field">
					<label>Email:</label>
					<span ng-if="!editMode">{{ selectedContact.email }}</span>
					<input type="text" ng-if="editMode" ng-model="selectedContact.email">
				</div>

				<!-- Address -->
				<div class="sc-field">
					<label>Address:</label>
					<span ng-if="!editMode">{{ selectedContact.address }}</span>
					<input type="text" ng-if="editMode" ng-model="selectedContact.address">
				</div>

				<!-- State -->
				<div class="sc-field">
					<label>State:</label>
					<span ng-if="!editMode">{{ selectedContact.state }}</span>
					<input type="text" ng-if="editMode" ng-model="selectedContact.state">
				</div>

				<!-- Client Status -->
				<div class="sc-field sc-status">
					<label>Client Status:</label>
					<span ng-if="!editMode">{{ selectedContact.status }}</span>
					<!-- <input type="text" ng-if="editMode" ng-model="selectedContact.status"> -->
					<select ng-if="editMode" ng-model="selectedContact.status">
						<option value="Active">Active</option>
						<option value="Inactive">Inactive</option>
					</select>
				</div>
			
				<!-- Edit Button -->
			
				<div class="contact-control contact-edit" ng-click="editContact()" ng-if="!editMode"><i class="fa fa-pencil fa-2x"></i></div>

				<div class="contact-control contact-edit" ng-click="editContact()" ng-if="editMode"><i class="fa fa-check fa-2x"></i></div>
			
				<!-- Delete Button -->
			
				<div class="contact-control contact-delete" ng-click="deleteContact(selectedContact)"><i class="fa fa-times fa-2x"></i></div>
			
			</div>
		</div>

	</div>

	










<!-- 	<div class="panel-files">
		
		<div class="panel-header">
			{{ selectedContact.name | uppercase }}
		</div>

		<div class="panel-files-container">
			
		</div>

	</div> -->



</div>