<div class="app-container">

<!-- 
<ng-include src="'views/panels/filters.html'"></ng-include>
<ng-include src="'views/panels/contacts.html'"></ng-include>
<ng-include src="'views/panels/info.html'"></ng-include> 
-->



	<!-- Filters Panel -->
	<div class="panel-filters">

		<!-- Filters Header -->
		<div class="panel-header">
			<h1>FILTERS</h1>
		</div>

		<!-- Add Contact Button -->
		<div class="contact-control contact-add" ng-click="addContact()"><i class="fa fa-plus"></i>
		</div>

	</div>

	<!-- Vertical Rule -->
	<div class="vertical-rule"></div>










	<!-- Contacts Panel -->
	<div class="panel-contacts">


		<!-- Panel Header -->
		<div class="panel-header">
			<h1>CONTACTS</h1>
		</div>


		<!-- Search -->
		<div class="search-contacts">
			<input type="search" placeholder="&#xF002; Search for someone..." style="font-family:Arial, FontAwesome" ng-model="search"/>
		</div>


		<!-- Contacts -->
		<div class="panel-contacts-container">

			<div class="contact-card" ng-repeat="contact in allContacts | filter:search | orderBy: 'name'" ng-click="setContact(contact)">

				<div class="contact-card-avatar"></div>
			
				<div class="contact-card-details">
					<h3>{{ contact.name }}</h3>
					<p>Business Name</p>
				</div>
			
			</div>

		</div>

	</div>



	<!-- Vertical Rule -->
	<div class="vertical-rule"></div>










	<!-- Info Panel -->
	<div class="panel-info">

		<div class="panel-header">
			<h1>{{ selectedContact.name | uppercase }}</h1>
		</div>


		<div class="panel-info-container">
			
			<!-- Info Dialogue -->
			<h1 ng-if="!selectedContact">Choose a contact</h1>
			

			<!-- Contact Info -->
			<div class="selected-contact" ng-if="selectedContact">
			
				<!-- Name -->
				<h3 ng-if="!editMode">{{ selectedContact.name }}</h3>
				<input type="text" ng-if="editMode" value="{{ selectedContact.name }}" ng-model="selectedContact.name">

				<br>
				
				<!-- Email -->
				<label>Email:</label>
				<span ng-if="!editMode" ng-dblclick="editContact(selectedContact)">{{ selectedContact.email }}</span>
				<input type="text" ng-if="editMode" value="{{ selectedContact.email }}" ng-model="selectedContact.email">

				<br>

				<!-- Phone -->
				<label>Phone:</label>
				<span ng-if="!editMode" ng-dblclick="editContact(selectedContact)">{{ selectedContact.phone1 }}</span>
				<input type="text" ng-if="editMode" value="{{ selectedContact.phone1 }}" ng-model="selectedContact.phone1">
			
				<!-- Edit Button -->
			
				<div class="contact-control contact-edit" ng-click="editContact(selectedContact)"><i class="fa fa-pencil fa-2x"></i></div>
			
				<!-- Delete Button -->
			
				<div class="contact-control contact-delete" ng-click="deleteContact(selectedContact)"><i class="fa fa-times fa-2x"></i></div>
			
			</div>
		</div>

	</div>





</div>