body
	font-family helvetica
	color rgba(48, 77, 111, 1)
	user-select none
	overflow hidden

.app-container
	display flex
	flex-direction row
	height 100vh
	
// ====================================================
// ================= Panel Styling ====================
// ====================================================

// Filter Panel

.panel-filters
	flex 1
	
.panel-filters-container
	margin-top 25px
	
// Contact Panel
	
.panel-contacts
	flex 1
	display flex
	flex-direction column
	
.panel-contacts-container
	// margin-top 75px
	overflow scroll
	overflow-x hidden
	flex 1

// Info Panel

.panel-info
	flex 2
	
.panel-info-container
	margin-top 25px
	padding 1em

// Vertical Rule
	
.vertical-rule
	height 100%
	width 1px
	background rgba(0,0,0,.1)
	
	
// ====================================================
// ================== Panel Header ====================
// ====================================================
	
.panel-header
	height 25px
	width 100%
	background rgba(60, 130, 205, 1)
	
	display flex
	align-items center
	position fixed
	
	h1
		padding 5px
		margin 0
		font-size 12px
		color white
		-webkit-font-smoothing antialiased
		

// ====================================================
// ================= Search Contacts ==================
// ====================================================
		
.search-contacts
	margin 25px 0 0 0
	padding 0
	height 50px
	display flex
	align-items center
	// position fixed
	background white
	border-bottom 1px solid rgba(0,0,0,.05)
	
	input
		width 100%
		padding 0 10px
		margin 0 10px
		border 1px solid #CCC
		border-radius 10px
		transition .3s
		
		&:focus
			outline 0px
			border 1px solid #AAA


// ====================================================
// =================== Contact Card ===================
// ====================================================

.contact-card
	cursor pointer
	padding 0 5px
	margin 0
	background white
	height 50px
	border-bottom 1px solid rgba(0,0,0,.05)
	
	display flex
	align-items center
	
	&:hover
		background rgba(0,0,0,.03)
		
.contact-card-avatar
	min-width 40px
	height 40px
	background #EEE
	border-radius 50%
	margin 0 10px 0 5px

.contact-card-details
	display flex
	flex-direction column

	h3
		font-size 16px
		padding 2px 0
		margin 0
	
	p
		padding 0
		margin 0
		font-size 12px
		font-weight 300



// ====================================================
// =============== Contact Controllers ================
// ====================================================

.contact-control
	width 4em
	height 4em
	border-radius 50%
	display flex
	align-items center
	justify-content center
	box-shadow 2px 2px 8px rgba(0,0,0,.1)
	position absolute
	color white
	
.contact-add
	background #2ecc71
	bottom 1.5em
	left 9em
	
.contact-delete
	bottom 1em
	right 6em
	background #e74c3c

.contact-edit
	bottom 1em
	right 1em
	background #3498db
	
// ====================================================
// ================== Miscellaneous ===================
// ====================================================

.sc-name
	height 45px
	font-size 24px