.panel
	padding .2em

.panels
	display flex
	flex-direction row

.panel-one
	background #CCC
	width 20vw
	height 100vh
	padding .4em
	
.panel-two
	background #DDD
	width 32vw
	height 100vh
	padding .4em
	
.panel-three
	background #EEE
	width 48vw
	height 100vh
	padding .4em
	
li
	list-style none
	font-size 1.5em
	font-family lato
	font-weight 300