.app-container
	display flex
	flex-direction row
	height 100vh

.panel
	padding .2em

.panel-filters
	background #444
	flex 1
	padding .4em
	
.panel-contacts
	background #DDD
	flex 2
	padding .4em
	overflow scroll
	overflow-x hidden
	
.panel-info
	background #FFF
	flex 3
	padding .4em
	
.contact-card
	border 1px solid #AAA
	border-radius 5px
	background rgba(255,255,255,.5)
	padding 1em
	margin 1em
	cursor pointer
	
	&:hover
		background rgba(255,255,255,.8)
