nicedarkblue = rgb(48,77,111)

lightgrey = rgba(0,0,0,.1)
darkgrey = rgba(0,0,0,.3)

bggrey = #EEE

transparentblack = rgba(0,0,0,.03)
transparentwhite = rgba(256,256,256,0.5)

header = rgba(60, 130, 205, 1)

// green = #2ecc71
green = #20B2AA
red = #e74c3c
blue = #3498db

invisible = rgba(0,0,0,0)