lightgrey = rgba(0,0,0,.1)
darkgrey = rgba(0,0,0,.3)

bggrey = #EEE

transparentblack = rgba(0,0,0,.03)
transparentwhite = rgba(256,256,256,0.5)

header = rgba(60, 130, 205, 1)

green = #20B2AA
red = #F44336
blue = #2196F3
orange = #FF9800

invisible = rgba(0,0,0,0)